/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic'); */

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1180px;
}

@media (max-width: 1200px) {
    .container {
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}

body {
    align-items: stretch;
    background: #CCC;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    justify-content: flex-start;
}

@media(max-width: 768px) {
    body.open-menu {
        overflow: hidden;
    }
}

.responsive {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

input,
button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

@media(max-width: 768px) {
    body {
        padding-top: 40px;
    }
}


/*-----top-panel---*/

#top-panel {
    background: #EFEFEF;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
}

#top-panel a {
    background: red;
    display: inline-block;
    margin: 0;
    height: 40px;
    vertical-align: bottom;
    width: 40px;
}

@media(max-width: 768px) {
    #top-panel {
        display: block;
        transition: all .15s ease-in;
    }
    .open-menu #top-panel {
        background: transparent;
        text-align: right;
    }
}


/*-----top-panel---*/


/*-----header-----*/

header#main-header {
    background: #FFF;
    padding: 20px 0;
}

header#main-header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header#main-header .logotype {
    flex-grow: 0;
    order: 1;
    flex-shrink: 0;
    width: 300px;
}

header#main-header .phones {
    flex-grow: 0;
    flex-shrink: 0;
    order: 3;
}

header#main-header .phones ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header#main-header .phones a {
    color: rgb(143, 143, 143);
    font-size: 20px;
    text-decoration: none;
}

header#main-header .search {
    background: red;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 70px;
    margin-right: 70px;
    order: 2;
}

header#main-header form input {
    border: 1px solid #CCC;
    border-right: none;
    flex-grow: 1;
    padding: 10px;
}

header#main-header form button {
    background: rgb(255, 69, 62);
    border: none;
    color: #FFF;
    padding: 10px 20px;
}

@media(max-width: 960px) {
    header#main-header .container {
        flex-wrap: wrap;
    }
    header#main-header .search {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        order: 3;
        width: 100%;
    }
    header#main-header .phones {
        order: 2;
    }
}

@media(max-width: 768px) {
    header#main-header .phones {
        text-align: center;
        width: 100%;
    }
    header#main-header .phones li {
        display: inline-block;
        margin: 0 10px;
    }
    header#main-header .logotype {
        text-align: center;
        width: 100%;
    }
}


/*-----nav-----*/

#main-navigation {
    background: #FFF;
    border-top: 2px solid rgb(250, 65, 65);
}

#main-navigation ul {
    background: #FFF;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-navigation a {
    color: rgb(141, 141, 141);
    display: block;
    text-decoration: none;
    padding: 15px 40px;
}

#main-navigation a:hover {
    background: rgb(250, 61, 61);
    color: #FFF;
}

@media(max-width: 768px) {
    #main-navigation {
        background-color: rgba(0, 0, 0, 0);
        border-top: none;
        bottom: 0;
        left: -100%;
        position: fixed;
        right: 100%;
        top: 0;
        transition: all .1s ease-in;
        z-index: -100;
    }
    #main-navigation .container {
        background: #000;
        bottom: 0;
        box-sizing: border-box;
        left: -100%;
        margin: 0;
        overflow: auto;
        padding: 40px 0 0;
        position: absolute;
        top: 0;
        transition: all .15s ease-in .1s;
        width: 70%;
    }
    #main-navigation ul {
        background: transparent;
        flex-wrap: wrap;
    }
    #main-navigation ul li {
        width: 100%;
    }
    #main-navigation a {
        color: #FFF;
    }
    .open-menu #main-navigation {
        background: rgba(0, 0, 0, .7);
        left: 0;
        right: 0;
        transition: all .1s ease-in .15s;
        z-index: 100;
    }
    .open-menu #main-navigation .container {
        left: 0;
        transition: all .15s ease-in;
    }
}

@media(max-width: 478px) {
    #main-navigation .container {
        width: 100%;
        transition: all .15s ease-in 1s;
    }
}


/*-----nav-----*/

main .container>.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}


/*----home----*/

#home-news {
    background: #EFEFEF;
    padding: 40px 0;
}

#home-news .block-news-list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -10px;
    margin-right: -10px;
}

#home-news .block-news-list .block-news-item {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(33.33% - 20px);
}

@media(max-width: 960px) {
    #home-news .block-news-list .block-news-item {
        width: calc(50% - 20px);
    }
}

@media(max-width: 768px) {
    #home-news .block-news-list .block-news-item {
        width: calc(100% - 20px);
    }
}


/*----home----*/


/*-----footer-----*/

footer#main-footer {
    background: #686868;
    color: #FFF;
    margin-top: auto;
    padding: 40px 0 0;
}

footer#main-footer .container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer#main-footer .contacts {
    margin-left: auto;
}

footer#main-footer nav {
    margin-right: 40px;
}

footer#main-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer#main-footer a {
    color: #FFF;
    text-decoration: none;
}

footer#main-footer .copyright {
    color: #EFEFEF;
    font-size: 12px;
    margin-top: 40px;
    padding: 10px 0 20px;
    text-align: center;
    width: 100%;
}

@media(max-width: 768px) {
    footer#main-footer .container>* {
        width: 100%;
    }
    footer#main-footer nav {
        margin-bottom: 40px;
        margin-right: 0;
    }
}


/*----news---*/

.block-news-item {
    align-items: stretch;
    background: #FFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.block-news-item .image {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.block-news-item .image img {
    width: 0;
    height: 0;
}

.block-news-item .title {
    padding: 10px 20px;
}

.block-news-item .title a {
    color: rgb(73, 2, 2);
    font-size: 20px;
    text-decoration: none;
}

.block-news-item .description {
    font-size: 14px;
    padding: 20px;
}

.block-news-item .links {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    padding: 10px 20px 20px;
}

.block-news-item .links a {
    border-bottom: 1px dashed rgb(73, 2, 2);
    color: rgb(73, 2, 2);
    text-decoration: none;
}


/*-----NEWS-----*/

#section-news {
    background: #EFEFEF;
}

#section-news .container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

#section-news aside {
    background: #FFF;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 40px;
    width: 300px;
}

#section-news aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-news aside ul a {
    border-top: 1px solid rgb(253, 51, 51);
    color: #333;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#section-news aside ul a:hover {
    background: rgb(255, 77, 53);
    color: #FFF;
}

#section-news aside ul li:first-child a {
    border-top: none;
}

#section-news .block-news-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
}

#section-news .block-news-list>* {
    margin: 0 10px 20px;
    width: calc(50% - 20px);
}

#section-news .open-news {
    background: #FFF;
    margin-bottom: 40px;
    padding: 20px;
}

#section-news .open-news a {
    border-bottom: 1px dashed rgb(255, 60, 60);
    color: rgb(255, 77, 77);
    padding-bottom: 1px;
    text-decoration: none;
}

#section-news .open-news a:hover {
    border-bottom-color: transparent;
}

#section-news .open-news time {
    display: inline-block;
    font-weight: bold;
    margin: 10px 0;
}

#section-news .open-news .image img {
    width: 100%;
}

@media(max-width: 960px) {
    #section-news .block-news-list>* {
        margin: 0 10px 20px;
        width: calc(50% - 20px);
    }
    #section-news .container {
        flex-wrap: wrap;
    }
    #section-news aside {
        margin: 40px 0;
        width: 100%;
    }
}

@media(max-width: 768px) {
    #section-news .block-news-list>* {
        margin: 0 10px 20px;
        width: calc(100% - 20px);
    }
}


/*----pagination----*/

.block-pagination {
    border-top: 1px solid #CCC;
    margin: 20px 0;
    padding-top: 20px;
}

.block-pagination ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.block-pagination ul li {
    margin: 0 10px;
}

.block-pagination ul li a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.block-pagination ul li a:hover,
.block-pagination ul li a.active {
    color: rgb(201, 66, 66);
}